    body{
      background: url('img1.jpg') no-repeat center center/cover;
     
    }
    #main{
     border: 2px solid rgb(137, 137, 139);
     background-color: black;
     color: white;
     opacity: 0.7;
     border-radius: 6px;
     text-align: center;
     margin: auto;
     font-family: 'Playfair Display', serif;
     width: 600px;
   }
    #title{
      /* border: 2px solid red; */
      margin: 12px;
      padding:12px;
      font-family: 'Noto Serif', serif;
    }
    #description{
      /* border: 2px solid red; */
      margin: 15px;
      padding:12px;
      color: cyan;
    }
    #survey-form{
      /* border: 2px solid blue; */
      margin: 18px;
      padding:18px;
    }
    .form {
      padding:18px;
      
    }
  
    .form:hover{
      cursor: pointer;
    }
    #submit{
      /* margin:12px;
      padding: 6px;
      width: 104px;
      font-size: 16px;
      border-radius: 8px; */
        display: block;
        width: 43%;
        margin: 20px auto;
        border: 1px solid white;
        border-radius: 8px;
        background-color: green;
        color: white;
        font-size: 16px;
        height: 28px;
    }
    #submit:hover{
      background-color: rgb(168, 166, 166);
      cursor: pointer;
      color: black;
    }
   #name{
     width: 264px;
     height: 24px;
     font-size: 15px;
     border-radius: 15px;
   }
   #email{
     width: 264px;
     height: 24px;
     font-size: 15px;
     border-radius: 15px;
   }
   #number{
     width: 264px;
     height: 24px;
     font-size: 15px;
     border-radius: 15px;
   }
 
